.formulario {
    padding-block: 30px ;
    background-image: url('../img/stickers\ en\ libro.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    }

.form-label {
    background-color: $jade;
}

.fondoFormulario {
    background-color: $jade;

}
