.navbar {
    background-color: $violeta;

    .nav-item {

        .nav-link { 
            color: #FFFF;

            &:hover {
                color: $jade;
            }

            &.active {
                color: white;
                font-weight: 600;
                text-decoration: underline;
            }

        }
    }


    

    .menu__item {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .a {
            
                color: #FFFF;
                text-decoration: none;  
        }
    }
    .item_inicio {
        background-color: $jade;
        grid-area: inicio;
    }
    
    .item_sobre {
        background-color: $violeta;
        grid-area: sobre;
    }
    
    .item_productos {
        background-color: $violeta;
        grid-area: productos;
    }
    
    .item_contacto {
        background-color: $violeta;
        grid-area: contacto;
    }
    
    .item_envios {
        background-color: $violeta;
        grid-area: envios;
    }
}

.nav {
    
    flex-grow: 1;
}

.menu {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "inicio sobre productos"
        "inicio contacto envios";
}
