.imagenCarolaCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 30px;

    .imagenCarola1 {
        background-color: #89a7c1;
        padding: 10px;

        .imagenCarola {
            display: grid;
            max-width: 100%;
            transform: translateX(30px);
            width: 500px ;
            height: 500px;
        }


    }
}