.imagenFondo{
    background-image: url('../img/stickers.jpeg');
    background-position: center center;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    font-size: 24px;

    h4 {
        color: white;
        margin: 0;
        background-color: $amarillo;
        border-radius: 2px;
        padding: 10px;
    
           
        }
    

}

