.menu {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "inicio sobre productos"
        "inicio contacto envios";
}

.logo {
    display: grid;
}