.tarjetitasproductos {
    padding-block: 50px;

    .cardProduct {
        background-color: rgb(140, 186, 198);

    }
    
    .cardProducts {
        
        -webkit-animation:flip-in-ver-right .5s cubic-bezier(.25,.46,.45,.94) both;
        animation:flip-in-ver-right .5s cubic-bezier(.25,.46,.45,.94) both;

        @for $var from 1 through 7 {
            &:nth-child(#{$var}) {
                animation-delay: 0.2s * $var;
            }
            
        }

        
    }



}




 @-webkit-keyframes flip-in-ver-right{0%{-webkit-transform:rotateY(-80deg);transform:rotateY(-80deg);opacity:0}100%{-webkit-transform:rotateY(0);transform:rotateY(0);opacity:1}}
 @keyframes flip-in-ver-right{0%{-webkit-transform:rotateY(-80deg);transform:rotateY(-80deg);opacity:0}100%{-webkit-transform:rotateY(0);transform:rotateY(0);opacity:1}}