$violeta: rgb(242, 152, 171);
$jade: rgb(151, 166, 213);
$amarillo: rgb(243, 233, 141);
$naranja: rgb(238, 118, 84);
$verde: rgb(155, 203, 139);

$coloresFondos: (
    Violeta: $violeta, 
    Jade: $jade
);

$redes: (
    envelope: $amarillo,
    instagram: $amarillo   
);

$instagram: ( 
    color: $violeta,
    font-size: 24px   
);

@mixin grid($maxwidth, $width, $height){
    display: grid;
    max-width: $maxwidth;
    width: $width ;
    height: $height;   
}


