* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.botonPersonalizado {
  background-color: #7b5a86;
  border-color: #7b5a86;
}

.botonPersonalizado:hover {
  background-color: white;
  border-color: #8cbac6;
  color: #8cbac6;
}

.navbar {
  background-color: #7b5a86;
}

.navbar .nav-item .nav-link {
  color: #FFFF;
}

.navbar .nav-item .nav-link:hover {
  color: #9ac7e5;
}

.navbar .nav-item .nav-link.active {
  color: white;
  font-weight: 600;
  text-decoration: underline;
}

.navbar .menu__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .menu__item .a {
  color: #FFFF;
  text-decoration: none;
}

.navbar .item_inicio {
  background-color: #7b5a86;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: inicio;
}

.navbar .item_sobre {
  background-color: #b47c7c;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: sobre;
}

.navbar .item_productos {
  background-color: #7f9cb4;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: productos;
}

.navbar .item_contacto {
  background-color: #c79f73;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: contacto;
}

.navbar .item_envios {
  background-color: #77bfa8;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: envios;
}

.nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.menu {
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr 1.5fr;
      grid-template-columns: 1fr 1.5fr 1.5fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "inicio sobre productos" "inicio contacto envios";
}

.imagenFondo {
  background-image: url("../img/stickers.jpeg");
  background-position: center center;
  background-size: cover;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-attachment: fixed;
  font-size: 24px;
}

.imagenFondo h4 {
  color: white;
  margin: 0;
  background-color: #8a63a5;
  border-radius: 2px;
  padding: 10px;
}

.tarjetitas {
  padding-block: 50px;
}

.tarjetitas .card {
  background-color: #8cbac6;
}

.tarjetitas .tarjetitasIndex {
  -webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.tarjetitas .tarjetitasIndex:nth-child(1) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.tarjetitas .tarjetitasIndex:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.tarjetitas .tarjetitasIndex:nth-child(3) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.fa-envelope {
  background-color: #8cbac6;
  padding: 5px;
}

.fa-instagram {
  background-color: #7b5a86;
  padding: 5px;
}

@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}

@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}

.breadcrumbsFondo {
  color: #7b5a86;
}

.footer {
  padding-block: 15px;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.formulario {
  padding-block: 30px;
  background-image: url("../img/stickers en libro.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imagenes {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 30px;
  margin: 30px;
  background-color: #7b5a86;
}

.imagen {
  margin: 30px;
}

.imagenFondo {
  background-image: url("../img/stickers.jpeg");
  background-position: center center;
  background-size: cover;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-attachment: fixed;
  font-size: 24px;
}

.imagenFondo h4 {
  color: white;
  margin: 0;
  background-color: #8a63a5;
  border-radius: 2px;
  padding: 10px;
}

.menu {
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr 1.5fr;
      grid-template-columns: 1fr 1.5fr 1.5fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "inicio sobre productos" "inicio contacto envios";
}

.parrafoenvios {
  text-align: justify;
  padding: 20px;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
}

.whatsapp {
  width: 100px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 2;
}

.chusmeame {
  display: block;
  margin: 30px;
  background-color: #8cbac6;
  border-radius: 2px;
  padding: 10px;
  gap: 10px;
}

.cardsEnvios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cardsEnvios .cardEnvios {
  -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  padding: 10px;
}

.cardsEnvios .cardEnvios:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.cardsEnvios .cardEnvios:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.cardsEnvios .cardEnvios:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.cardsEnvios .cardEnviosVioleta {
  background-color: #7b5a86;
}

.cardsEnvios .cardEnviosJade {
  background-color: #8cbac6;
}

.cardsEnvios .cardEnvios .card__envio {
  display: -ms-grid;
  display: grid;
  max-width: 100%;
}

@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.imagenCarolaCards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 30px;
  -webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.imagenCarola1 {
  padding: 10px;
  -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.imagenCarola1:nth-child(1) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.imagenCarola1:nth-child(2) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.imagenCarola1:nth-child(3) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.imagenCarola1Violeta {
  background-color: #7b5a86;
}

.imagenCarola1 .imagenCarola {
  display: -ms-grid;
  display: grid;
  max-width: 100%;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  width: 500px;
  height: 500px;
}

.imagenCarola1Jade {
  background-color: #8cbac6;
}

.imagenCarola1 .imagenCarola {
  display: -ms-grid;
  display: grid;
  max-width: 100%;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  width: 500px;
  height: 500px;
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.tarjetitasproductos {
  padding-block: 50px;
}

.tarjetitasproductos .cardProduct {
  background-color: #8cbac6;
}

.tarjetitasproductos .cardProducts {
  -webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.tarjetitasproductos .cardProducts:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.tarjetitasproductos .cardProducts:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.tarjetitasproductos .cardProducts:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.tarjetitasproductos .cardProducts:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.tarjetitasproductos .cardProducts:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.tarjetitasproductos .cardProducts:nth-child(6) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.tarjetitasproductos .cardProducts:nth-child(7) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}

@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}

.ckeckbox {
  background-color: #8cbac6;
  padding-top: 10px;
}

.ckeckbox #input :checked {
  height: 10px;
  width: 10px;
}

@media screen and (max-width: 648px) {
  .menu {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "inicio sobre" "inicio productos" "inicio contacto" "inicio envios";
  }
  .imagenCarolaCards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .imagenCarola {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    max-width: 100%;
  }
  .cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
  .cardProduct {
    width: 90%;
    display: block;
  }
  textarea {
    max-width: 100%;
  }
  .formulario__campo {
    max-width: 100%;
  }
}

@media screen and (maw-width: 768px) {
  .card {
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=estilos.css.map */